.home_container {
    display: flex;
    justify-content: space-around;
    // background-color: yellow;
    height: 70vh;
    padding: 100px;

    .intro_container {
        background-color: gray;
        width: 50%;
    }

    .photo_container {
        background-color: black;
        border-radius: 100%;
        width: 20vw;
        height: 20vw;
    }
}